.counter{
  display: flex;
  margin: 80px 0px;
  justify-content: center;
}

.counterItem{
  height: 100px;
  width: 100px;
  margin: 0px 10px;
  box-shadow: 2px 2px 2px 2px #e6e6e6;
  border-radius: 10px;
  background-color: lightblue;
  color: blue;
  font-weight: 800;
  cursor: pointer;
}

.selectedCounter{
  height: 100px;
  width: 100px;
  margin: 0px 10px;
  box-shadow: 2px 2px 2px 2px #e6e6e6;
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-weight: 800;
  cursor: pointer;
}

.counterNumber{
  text-align: end;
  margin-top: 10px;
  font-size: 50px;
  font-weight: 800;
}

.maincontainer{
  margin: 20px 50px;
}

.itemlistcontainer{
  background: white;
}